@model Proje.Models.Anime

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Anime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="animeId" />
            <div class="form-group">
                <label asp-for="animeTitle" class="control-label"></label>
                <input asp-for="animeTitle" class="form-control" />
                <span asp-validation-for="animeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="animePoster" class="control-label"></label>
                <input asp-for="animePoster" class="form-control" />
                <span asp-validation-for="animePoster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="animeRating" class="control-label"></label>
                <input asp-for="animeRating" class="form-control" />
                <span asp-validation-for="animeRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="animeEpisodes" class="control-label"></label>
                <input asp-for="animeEpisodes" class="form-control" />
                <span asp-validation-for="animeEpisodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="animeStartYear" class="control-label"></label>
                <input asp-for="animeStartYear" class="form-control" />
                <span asp-validation-for="animeStartYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="animeEndYear" class="control-label"></label>
                <input asp-for="animeEndYear" class="form-control" />
                <span asp-validation-for="animeEndYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="animeStory" class="control-label"></label>
                <input asp-for="animeStory" class="form-control" />
                <span asp-validation-for="animeStory" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="animeCategories" class="control-label"></label>
                @Html.ListBoxFor(x => x.animeCategoryArray, new MultiSelectList(Model.categoryCollection,"categoryId","categoryName"),new {id= "multiSelectDropdown",multiple="multiple"})
                <span asp-validation-for="animeCategories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

        $(function () {
            $("#multiSelectDropdown").chosen({
                width: "100%",
                disable_search_thresholder: 5
            });

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
