@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["Privacy Policy"];
}

<h1>@ViewData["Title"]</h1> 
<br />
<h4>@localizer["This website is for testing reasons."]</h4>
