@model Proje.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="movieTitle" class="control-label"></label>
                <input asp-for="movieTitle" class="form-control" />
                <span asp-validation-for="movieTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movieYear" class="control-label"></label>
                <input asp-for="movieYear" class="form-control" />
                <span asp-validation-for="movieYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="moviePoster" class="control-label"></label>
                <input asp-for="moviePoster" class="form-control" />
                <span asp-validation-for="moviePoster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movieRating" class="control-label"></label>
                <input asp-for="movieRating" class="form-control" />
                <span asp-validation-for="movieRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movieStory" class="control-label"></label>
                <input asp-for="movieStory" class="form-control" />
                <span asp-validation-for="movieStory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movieRunningTime" class="control-label"></label>
                <input asp-for="movieRunningTime" class="form-control" />
                <span asp-validation-for="movieRunningTime" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="movieCategories" class="control-label"></label>
                @Html.ListBoxFor(x => x.movieCategoryArray, new MultiSelectList(Model.categoryCollection,"categoryId","categoryName"),new {id= "multiSelectDropdown",multiple="multiple"})
                <span asp-validation-for="movieCategories" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

        $(function () {
            $("#multiSelectDropdown").chosen({
                width: "100%",
                disable_search_thresholder: 5
            });

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
